  :root {
    --white: #fff;
    --light-grey: #f5f6f7;
    --dark-grey: #0a0a23;
    --yellow: #f1be32;
    --golden-yellow: #feac32;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--dark-grey);
  }

  .title {
    font-size: large;
    color: var(--light-grey);
    margin-bottom: 20px;
  }

  header {
    margin: 40px auto;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    height:100x;
    width:300px;
    align-items:center;
    text-align: center;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.5);
    
    height:200px;
    width:400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .submit {
    background-color: var(--golden-yellow);
  }

  p {
    color: #f5f6f7;
  }
  label {
    color: var(--light-grey);
    text-align:center;
    font-size: 1.4rem;
  }